/* background 222 222 222
green 60 86 74
cyan 3 170 239
light blue 134 203 232 */

/* * {
  border: solid 5px cyan;
} */

.container {
  position: relative;

  border: solid 5px cyan;
}

.bust {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100vh;
}

.tear-container {
  position: absolute;
  border: solid 5px lavender;
  height: 57vw;
  width: 20vw;
  margin-left: 40%;

  top: 20%;

  z-index: 2;
}

.tears {
  position: absolute;
  left: 46%;
  right: 20%;
  top: 41%;
  bottom: 30%;
  height: 80%;
  width: 40%;
  z-index: 2;
  shape-outside: polygon(90%) border-box;
}

.countries {
  position: absolute;
  bottom: 20%;
}
