/* background 222 222 222
green 60 86 74
cyan 3 170 239
light blue 134 203 232 */

/* * {
  border: solid 5px cyan;
} */

/* need to add -webkit-tap-highlight-color: transparent;   to no highlight class this is the chrome andrios cover*/

.info-button {
  text-align: center;
  position: fixed;
  top: 1.2rem;
  right: 1.3rem;
  background-color: rgb(3, 170, 239);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 4;
}

.question-mark {
  color: rgb(232, 234, 240);
  right: 10px;
  position: absolute;
  padding: 10px;
  font-size: 150%;
}

#study-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
  color: rgb(3 170 239);
  text-decoration: none;
}

#return {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
  color: rgb(56, 155, 197);
  text-decoration: none;
}

.form {
  margin-top: 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
}

.container {
  position: relative;
}

.bust {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 654px;
}

.tear-container {
  margin: auto;
  position: relative;

  width: 400px;
  height: 654px;
  z-index: 2;
}

.tears {
  position: absolute;
  top: 243px;
  margin-left: -80px;
  height: 150%;
  width: 30%;
  z-index: 2;
}

.countries {
  opacity: 0.6;
  font-size: 130%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(60, 86, 74);
  padding-right: 20%;
  position: relative;
  bottom: 15%;

  -ms-transform: skewY(10deg); /* IE 9 */
  -webkit-transform: skewY(10deg); /* Safari 3-8 */
  transform: skewY(10deg);
  z-index: 3;
}
